* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #191d7b;
    width: 512px;
    background-size: content
    
}

.title {
    font-family: Sigmar;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 3em;
    line-height: 35px;

}
h1 {
    font-family: Sigmar;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 3em;

}

p {
    font-family: DM Sans;
    color: white;
    text-align: center;
    position: relative;
    top: -75px;
    
}

.button-white {
    background-color: #ffffff;
    position: relative;
    padding: 1em;
    border-radius: 0.75em;
    margin-top: -3em;
    min-height: 20px;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}

.button-blue {
    background-color: #5865f2;
    position: relative;
    padding: 1em;
    border-radius: 0.75em;
    margin-top: 1em;
    min-height: 20px;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    color: white;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;    
}

.card {
    background-color: #5d64d1;
    border-radius: 1em;
    margin:2em;
    text-align: left;
    position: relative;
    

video {
    max-width: 100%;
    height: auto;
    border-radius: 2em;
    width: 400px;
    position: relative;
    top: -42px;
    left: 22px;
}

.text-card {
    font-family: DM Sans;
    color: white;
    font-size: large;
    text-align: center;
    position: relative;
    top: -75px;
    left: 1px;
    
}