* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191d7b;
    width: 512px;
}

h1 {
    font-family: Sigmar;
    color: white;
    text-transform: uppercase;
    margin: 10px 20px;
}

p {
    font-family: DM Sans;
    color: white;
    margin: 10px 20px;
}

img {
    max-width: 100%;
    height: auto;   
}


.title {
    line-height: 35px;
    text-align: center;
}

/* BUTTON STYLE */
.button {
    padding: 1em;
    border-radius: 0.75em;
    margin-top: 1em;
    min-height: 20px;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    font-family: DM Sans;
}

.button-container {
    margin: 60px;
}

.button-white {
    background-color: #ffffff;
}

.button-blue {
    background-color: #5865f2;
    color: white;
}
/* END BUTTON STYLE */


/* CARD STYLE */ 
.card {
    position: relative;
    border-radius: 1em;
    margin: 3em 2em;
    text-align: left;
    background: linear-gradient(180deg, rgba(51, 55, 146, 1) 0%, rgba(84, 96, 232, 1) 50%);
}  

.card-image {
    position: absolute;
    top: -50px;          /* la fa uscire sopra */
    left: 50%;           /* la porta al centro orizzontale */
    width: 100px; 
    translate: -50%;
} 

.card-content {
    position: relative;
    padding-top: 80px;
    top: -50px;
}
    
video {
    max-width: 100%;
    height: auto;
    border-radius: 2em;
    width: 405px;
    margin: 10px 20px;
}

.text-card {
    font-family: DM Sans;
    color: white;
    font-size: large;
}

.white-text {
    text-align: center;
}

/* END CARD STYLE */